{% extends 'shop/basic.html' %}

{% block title %} <title> {{ product.product_name }} - My Awesome Cart </title>{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{ product.image }}" alt="{{ product.image}}" width="250px" height="250px">
            </div>
            <div class="row">
                <button class="btn btn-primary mx-3 my-2">Buy Now</button>
                <button class="btn btn-primary my-2">Add to Cart</button>
            </div>
        </div>

        <div class="col md-8">
            <h1>{{ product.product_name }}</h1>
            <p><b>Rs.{{ product.price }}</b></p>
            <p>{{ product.desc }}</p>
        </div>
    </div>
</div>


{% endblock %}