{% extends 'shop/basic.html' %}

{% block title %} <title> My Awesome Cart Tracker </title>{% endblock %}

{% block body %}

<div class="container">
    <div class="col my-4">
        <h2>Enter your order ID and email address to track your order.</h2>
        <form method="post" action="#" id="trackerform">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Order ID</label>
                    <input type="name" class="form-control" placeholder="Enter Your Order ID" id="orderId"
                        name="orderId">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
    </div>
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div>
            <ul class="list-group" id="items">
                Enter your order ID and Email and click Track Order to find details about your order!
            </ul>
        </div>
        <br>
        <h2>Your Order Details</h2>
        <div>
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}

<script>

    $('#trackerform').submit(function (event) {
        $('items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
            .done(function (data) {
                data = JSON.parse(data);
                updates = data[0];
                if (updates.length > 0 & updates != {}) {
                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                        $('#items').append(mystr);
                    }
                }
                else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                Sorry, We are not able to fetch this order ID and email. Make sure to type correct order ID and email</li>`
                    $('#items').append(mystr);
                }

                // filling the order details
                cart = JSON.parse(data[1]);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
                    $('#citems').append(mystr);
                }
            });
        event.preventDefault();
    });

</script>

{% endblock %}